NEXT_PUBLIC_USER_API=http://localhost:4001
NEXT_PUBLIC_PRODUCT_API=http://localhost:4002
NEXT_PUBLIC_CART_API=http://localhost:4003
NEXT_PUBLIC_ORDER_API=http://localhost:4004
NEXT_PUBLIC_PAYMENT_API=http://localhost:4005
